body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #174378;
}
/* top navigation */
.topnav {
  overflow: hidden;
  background-color: #011D40;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 35px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* office font replacement */
.Office {
position: absolute;
width: 200px;
height: 44px;
left: 149px;
top: 204px;
line-height: 17px;
}
/* office font replacement */
.Contact {
position: absolute;
width: 400px;
height: 18px;
left: 149px;
top: 772px;
line-height: 17px;
}
/* Maps */
.map{
  position: absolute;
  left: 975px;
  top: 120px;
}
/* feedback */
.contact-form-container {
    position: absolute;
    width: 100%;
    max-width: 600px;
    left: 975px;
    top: 530px;
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #cfd8dc; /* Light gray for input fields */
    color: #333;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 4px;
}

.name-fields {
    display: flex;
    gap: 10px;
}

.name-fields input {
    flex: 1;
}

.name-fields input::placeholder {
    color: #666;
}

button[type="submit"] {
    width: 150px;
    padding: 12px;
    background-color: #011D40; /* Darker button color */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color:#d2d4d400;
}