body {
  font-family: "Lato", sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #011D40;
}

.topnav span {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 35px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.sidenav {
  height: 100%;
  width: 0;
  position:fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #174378;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .logout-button{
    position: absolute;
    left: 31%;
    color: #f1f1f1;
    background-color: #174378;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 40px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
}
.sidenav .closebtn {
  background-color: #011D40;
  position:left;
  margin-top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  padding: 10px 10px;
  margin: 0;
}
.sidenav .closebtn:link {
  color: #f1f1f1;
}

/* mouse over link */
.sidenav .closebtn:hover {
  color: #174378;
}

.menu-item {
    display: block;
    text-decoration: none;
    padding: 15px 0;
    border-bottom: 3px solid #ffffff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 3px;
    color: #ddd;
}
.menu-item:link {
  color: #f1f1f1;
}

/* mouse over link */
.menu-item:hover {
  color: #174378;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}